.navbar {
  position: fixed;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: stretch;
  justify-content: flex-end;

  background-color: cyan;
}

.logo {
  position: relative;
  top: 3px;
  left: 30px;
}
