.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 60px;

  tbody > tr:nth-child(even) {
    background-color: #ebebeb;
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
}


